<div class="m-2">
    <div class="flex flex-row justify-between">
      <h1 style="color: gray">Bidshido Point</h1>
      
      <a href="add" routerLink="add" mat-stroked-button class="my-1" style="border-color: rgb(17,88,46); background-color: rgb(17,88,46); color: white;">Buy Point</a>
    </div>
    <div class="mt-4">
        <div class="balance-box">
            <div class="balance-container floating-balance-container">
                Available Points
                <div class="balance-number">
                    200
                </div>
            </div>
        </div>
        <div class="mt-4">
            <mat-tab-group>
                <mat-tab label="History">
                    History
                </mat-tab>
                <mat-tab label="Redeem">
                    Redeem
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
  </div>