<div class="grid-container">
  <div class="item-container">
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" [isSold]="true" productName="product 1" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 3" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 4" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 4" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 3" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 4" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 4" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 3" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 4" routerLink="/products/detail/test"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 4" routerLink="/products/detail/test"></product-card>
  </div>
</div>
