<div class="grid-container">
  <div class="item-container">
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" [isSold]="true" productName="product 1"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
    <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
  </div>
</div>
