.title-label {
  font-size: 16px; 
  font-weight: bold;
}

.timer-box {
  padding: 20px 0 20px 0;
  border: solid 1px darkgray;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;

  .countdown-value {
    font-weight: bold; 
    text-align: center; 
    font-size: 32px;
  }

  .countdown-label {
    font-weight: bold; 
    text-align: center; 
    font-size: 12px;
  }
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.control-panel{
  width: 400px;
}