<div class="main-container">
  <mat-toolbar>
    <mat-toolbar class="root-nav-container">
      <a  routerLink="/" href="/"><img class="h-7" src="/assets/images/main_logo.png" /></a>
      <button mat-icon-button class="nav-app-button" routerLink="/"><mat-icon>apps</mat-icon></button>
      <mat-form-field appearance="outline" class="title-search-bar">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search">
        
      </mat-form-field>
      <button mat-icon-button class="nav-app-button" ><mat-icon>notifications_none</mat-icon></button>
      <button mat-icon-button class="nav-app-button" routerLink="/cart"><mat-icon>shopping_cart</mat-icon></button>
      <button mat-icon-button class="nav-app-button" routerLink="/account"><div class="profile-picture-holder"><mat-icon>person</mat-icon></div></button>
    </mat-toolbar>
    
  </mat-toolbar>
  <div class="main-content-container">
    <div class="main-content flex flex-col">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="footer-container">

  </div>
</div>