.nav-app-button {
  margin-left: 7px;
  margin-right: 7px;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.profile-picture-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(185, 185, 185);
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.title-search-bar {
  margin: 0 16px 0 16px;
}
