<div class="banner-container">
  <img class="banner-image"  src="/assets/images/mock_banner1.jpg">
  <div class="banner-overlay">
    <div class="site-title-container">
      <div class="site-title">Bidshido</div>
      <div class="site-sub-title">Malaysia Auction Marketplace</div>
      <div class="site-description">Sell and bid your Hot Wheels collection here. Malaysia Hot Wheels Collections.</div>
    </div>
  </div>
</div>
<div class="inner-content-container">
  <div class="catalog-container">
    <catalog-card 
      class="catalog" 
      title="Own Shop" 
      bannerUrl="/assets/images/mock_catalog_banner1.jpg" 
      itemCount="1100" 
      color="lightskyblue"
      (click)="catalogClicked('ownShop')" 
      routerLink="/products"
      [queryParams]="{ catalog: 'own-shop' }"></catalog-card>
    <catalog-card 
      class="catalog" 
      title="Hot Selling" 
      bannerUrl="/assets/images/mock_catalog_banner2.jpg" 
      itemCount="2000" color="red" 
      routerLink="/products"
      [queryParams]="{ catalog: 'hot-selling' }"></catalog-card>
    <catalog-card 
      class="catalog" 
      title="Most Popular" 
      bannerUrl="/assets/images/mock_catalog_banner3.jpg" 
      itemCount="1500" 
      color="orange" 
      routerLink="/products"
      [queryParams]="{ catalog: 'most-popular' }"></catalog-card>
  </div>
  <home-section title="Live"></home-section>
  <home-section title="Sponsored"></home-section>
  <home-section title="Hot Selling"></home-section>
  <home-section title="Most Popular"></home-section>
</div>


