
<div class="container">
  <h2>{{title}}</h2>
  <div class="item-scroll-holder">
    <div class="item-container">
      <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 1"></product-card>
      <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 2"></product-card>
      <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 3"></product-card>
      <product-card posterProfileImageUrl="/assets/images/mock_user1.jpg" productName="product 4"></product-card>
    </div>
  </div>
</div>
