<div class="m-2">
  <div class="flex flex-row justify-between">
    <h1 style="color: gray">Orders</h1>
    
    <a href="add" routerLink="add" mat-stroked-button class="my-1">Filter</a>
  </div>
  <div class="mt-4">
    <mat-tab-group>
      <mat-tab label="All">
        <order-list-table></order-list-table>
      </mat-tab>
      <mat-tab label="Unfulfilled">
        <order-list-table></order-list-table>
      </mat-tab>
      <mat-tab label="Unpaid">
        <order-list-table></order-list-table>
      </mat-tab>
      <mat-tab label="Open">
        <order-list-table></order-list-table>
      </mat-tab>
      <mat-tab label="Closed">
        <order-list-table></order-list-table>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>