.balance-box {
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    padding: 1em;
    .balance-container {
        flex-grow: 1;
        text-align: center;
        color: #616161;
        font-size: 16px;
        padding-top: 2em;
        padding-bottom: 2em;
        .balance-number {
            font-size: 32px;
            margin-top: 0.5em;
        }
    }
    .floating-balance-container {
        border-right: solid 1px #8d8d8d;
        margin-right: 1em;
    }
}