<div class="m-2">
    <div class="flex flex-row justify-between">
      <h1 style="color: gray">Cash Balance</h1>
    </div>
    <div class="mt-4">
      <div class="balance-box">
        <div class="balance-container floating-balance-container">
            Floating Balance
            <div class="balance-number">
                RM 110.00
            </div>
        </div>

        <div class="balance-container available-balance-container">
            Available Balance
            <div class="balance-number">
                RM 830.00
            </div>
        </div>
      </div>
    </div>
  </div>